# General
.DS_Store
.idea/
.vscode/
*.swp
*.log

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
*.db
backend/database.db

# Node / Mobile
node_modules/
npm-debug.log
yarn-error.log
.expo/
web-build/
dist/
coverage/

# Mobile Builds
*.apk
*.aab
*.ipa
android/app/build
android/app/src/main/assets/
ios/Pods/

# Mobile
mobile/node_modules/
