[project]
name = "backend"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = [
    "fastapi",
    "uvicorn",
    "pydantic",
    "sqlmodel",
    "psycopg2-binary",
    "python-dotenv",
    "pytest",
    "httpx",
    "requests>=2.32.5",
]
